.container {
  display: flex;
}

nav {
  flex: 1;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

main {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}
